<div class="pt-10 ">
    <!-- Redes Sociais -->
    <div class="flex flex-col items-center gap-4 text-center">
      <div class="text-lg sm:text-2xl font-bold">
        Segue já as nossas redes sociais!
      </div>
      <div class="flex gap-4 h-8 sm:h-10">
        <img src="../../../assets/facebookIcon.png" class="cursor-pointer w-8 sm:w-10" alt="Facebook">
        <img src="../../../assets/TwitterIcon.png" class="cursor-pointer w-8 sm:w-10" alt="Twitter">
        <img src="../../../assets/InstaIcon.png" class="cursor-pointer w-8 sm:w-10" alt="Instagram">
        <img src="../../../assets/Youtube.png" class="cursor-pointer w-8 sm:w-10" alt="Youtube">
      </div>
    </div>
  
    <!-- Footer -->
    <div class="pt-10">
      <div class="bg-FooterBackground px-6 sm:px-18 text-TextColor">
        <div class="flex flex-col sm:flex-row sm:flex-wrap justify-center sm:justify-around items-center sm:items-start py-8 sm:py-10 gap-6">
          <!-- Footer Icon -->
          <div class="w-32 ">
            <img src="../../../assets/Logo.png" class="mx-auto sm:mx-0" alt="Footer Icon">
          </div>
  
          <!-- Informações -->
          <div class="flex flex-col gap-2 text-center sm:text-left">
            <span class="font-bold">Informações</span>
            <a href="/" class="text-sm block hover:underline">Sobre nós</a>
            <a href="/" class="text-sm block hover:underline">Como Funciona</a>
            <a href="/" class="text-sm block hover:underline">Termos de uso</a>
            <a href="/" class="text-sm block hover:underline">Política de Privacidade</a>
          </div>
  
          <!-- Suporte -->
          <div class="flex flex-col gap-2 text-center sm:text-left">
            <span class="font-bold">Suporte</span>
            <a href="/contact" class="text-sm block hover:underline">Contato</a>
            <a href="/faq" class="text-sm block hover:underline">Perguntas Frequentes</a>
            <a href="/shipping-info" class="text-sm block hover:underline">Informações de Envio</a>
            <a href="/returns" class="text-sm block hover:underline">Devoluções</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  