<!-- Waste Reduction Call-to-Action -->
<div class="bg-green-100 p-6 rounded-2xl shadow-md text-center">
    <h2 class="text-xl font-bold text-green-900 mb-4">Ajude a combater o desperdício!</h2>
    <div class="flex flex-col lg:w-1/3 justify-center align-middle mx-auto text-center gap-4">
        <a routerLink="/sign-in"
            class="bg-green-600 text-white font-semibold rounded-full px-5 py-2 shadow-md hover:bg-green-700 transition-all text-center">
            Entre Aqui
        </a>
        <a routerLink="/establishment/register-establishment"
            class="bg-white border border-green-600 text-green-800 font-semibold rounded-full px-5 py-2 shadow-md hover:bg-green-50 transition-all text-center">
            Registe o Seu Negócio
        </a>
    </div>
</div>