<div class="bg-white p-4 rounded-xl shadow-md mt-6">
    <h3 class="text-xl font-bold text-green-800 mb-4">Publicações</h3>

    <!-- Loading State -->
    <div *ngIf="loading" class="text-center text-gray-500">
        Carregando publicações...
    </div>

    <!-- Error Message -->
    <div *ngIf="!loading && errorMessage" class="text-center text-red-500">
        {{ errorMessage }}
    </div>

    <!-- Publications List -->
    <ul *ngIf="!loading && publications.length > 0" class="space-y-4">
        <li *ngFor="let pub of publications" class="border-b pb-3">
            <h4 class="text-lg font-semibold text-green-800">{{ pub.description }}</h4>
            <p class="text-gray-600 text-sm">Preço: {{ pub.price }} Eur</p>
            <p class="text-gray-500 text-xs">Publicado em: {{ pub.postDate | date:'dd/MM/yyyy' }}</p>
            <p class="text-gray-500 text-xs">Acaba em: {{ pub.endDate | date:'dd/MM/yyyy' }}</p>
            <p class="text-gray-500 text-xs">Status: {{pub.status == 0 ? "Available": pub.status == 1?"Sold":"Unavailable"}}</p>
            
        </li>
    </ul>

    <!-- No Publications Message -->
    <div *ngIf="!loading && publications.length === 0" class="text-center text-gray-500">
        Nenhuma publicação encontrada.
    </div>
</div>